* {

    font-family: Arial;
}


html 
{
    height: 100%;
}

h1 {
    padding: 0px;
}

#title
{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;

}


body{
    background-image: linear-gradient(lightgrey, darkcyan);
    height: 100%;
    margin: 0;
    padding: 0;
}

#tableHolder 
{
    width: 60vh;
    height: 60vh;
    min-width: 445px;
    min-height: 445px;
    margin-left: auto;
    margin-right: auto;
}

table 
{

    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    background: white;
    width: 100%;
    height: 100%;
}

table td {
    border: 2px solid lightgrey; 
  }


  [data-col="3"], [data-col="6"] {
      border-right: 2px solid grey;
  }

  [data-row="3"] [data-col],   [data-row="6"] [data-col]
  {
      border-bottom: 2px solid grey;
  }


  #buttonHolder
  {
      margin-right: auto;
      margin-left:auto;
      margin-top: 8px;
      display: block;
      width: 60vh;
      min-width: 445px;
      display: flex;
      justify-content: space-between;  
  }

  .mainButton:nth-child(even)
  {
      margin-right: 0px;
  }

  .mainButton
  {
      height: 50px;
      padding: 10px;
      font-size: 18px;
      margin-right: 5px;
  }

  .mainButton:focus {
    outline: 0;
}


.active 
{
    background-color: white;
}

.tdActive
{
    background-color: lightgrey;
}


td
{
    text-align: center;
    font-size:calc(25px + 1.5vh);
    padding: 0px;
    overflow: hidden;
}

.noteList
{
    text-align: center;
    font-size: 18px;
    vertical-align: top;

    
}

.nonChangeable
{
    color: darkcyan;
}



.markError
{
    background-color: salmon;
}